.card-category  {
    display: block;
    text-align: center;
    background: red;
    line-height: 200px;
    color: white;
    font-weight: bold;
}

.card-category:hover  {
    color : white;
}


.card-category.design  {
    background: $red;
}

.card-category.tech  {
    background: $green;
}

.card-category.education  {
    background: $blue;
}